@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-6UmYjx3P_Af8: 1px;
  --plasmic-token-unnamed-style-token: var(--token-6UmYjx3P_Af8);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-XEsfzrjJYmQt_font-family: "Inter", sans-serif;
  --mixin-XEsfzrjJYmQt_font-size: 16px;
  --mixin-XEsfzrjJYmQt_font-weight: 400;
  --mixin-XEsfzrjJYmQt_font-style: normal;
  --mixin-XEsfzrjJYmQt_color: #535353;
  --mixin-XEsfzrjJYmQt_text-align: left;
  --mixin-XEsfzrjJYmQt_text-transform: none;
  --mixin-XEsfzrjJYmQt_line-height: 1.5;
  --mixin-XEsfzrjJYmQt_letter-spacing: normal;
  --mixin-XEsfzrjJYmQt_white-space: pre-wrap;
  --mixin-XEsfzrjJYmQt_user-select: text;
  --mixin-XEsfzrjJYmQt_text-decoration-line: none;
  --mixin-XEsfzrjJYmQt_text-overflow: clip;
  --mixin-K0VvB6uWn_Oc_color: #000000;
  --mixin-K0VvB6uWn_Oc_font-size: 24px;
  --mixin-K0VvB6uWn_Oc_font-weight: 600;
  --mixin-K0VvB6uWn_Oc_letter-spacing: -0.5px;
  --mixin-K0VvB6uWn_Oc_line-height: 1.3;
  --mixin-K0VvB6uWn_Oc_white-space: pre-wrap;
  --mixin-QXWe__-hOwdU_color: #000000;
  --mixin-QXWe__-hOwdU_font-size: 20px;
  --mixin-QXWe__-hOwdU_font-weight: 600;
  --mixin-QXWe__-hOwdU_letter-spacing: -0.3px;
  --mixin-QXWe__-hOwdU_line-height: 1.5;
  --mixin-QXWe__-hOwdU_white-space: pre-wrap;
  --mixin-e7e9yy1DUzXo_color: #000000;
  --mixin-e7e9yy1DUzXo_font-size: 16px;
  --mixin-e7e9yy1DUzXo_font-weight: 600;
  --mixin-e7e9yy1DUzXo_line-height: 1.5;
  --mixin-e7e9yy1DUzXo_white-space: pre-wrap;
  --mixin-N1_VXxCQqVUs_color: #0070f3;
  --mixin-N1_VXxCQqVUs_white-space: pre-wrap;
  --mixin-c5-p22cG5P-h_border-left-color: #dddddd;
  --mixin-c5-p22cG5P-h_border-left-style: solid;
  --mixin-c5-p22cG5P-h_border-left-width: 3px;
  --mixin-c5-p22cG5P-h_color: #888888;
  --mixin-c5-p22cG5P-h_padding-left: 10px;
  --mixin-c5-p22cG5P-h_white-space: pre-wrap;
  --mixin-37O4n34z_3QO_color: #000000;
  --mixin-37O4n34z_3QO_font-size: 64px;
  --mixin-37O4n34z_3QO_font-weight: 700;
  --mixin-37O4n34z_3QO_letter-spacing: -1px;
  --mixin-37O4n34z_3QO_line-height: 1;
  --mixin-37O4n34z_3QO_white-space: pre-wrap;
  --mixin-8FUlQhYuXkXO_color: #000000;
  --mixin-8FUlQhYuXkXO_font-size: 48px;
  --mixin-8FUlQhYuXkXO_font-weight: 700;
  --mixin-8FUlQhYuXkXO_line-height: 1.1;
  --mixin-8FUlQhYuXkXO_letter-spacing: -0.5px;
  --mixin-8FUlQhYuXkXO_white-space: pre-wrap;
  --mixin-vV6wAafnfRE3_color: #000000;
  --mixin-vV6wAafnfRE3_font-size: 32px;
  --mixin-vV6wAafnfRE3_font-weight: 600;
  --mixin-vV6wAafnfRE3_line-height: 1.2;
  --mixin-vV6wAafnfRE3_white-space: pre-wrap;
  --mixin-rueYUv24R6ST_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rueYUv24R6ST_border-bottom-color: #dddddd;
  --mixin-rueYUv24R6ST_border-bottom-style: solid;
  --mixin-rueYUv24R6ST_border-bottom-width: 1px;
  --mixin-rueYUv24R6ST_border-left-color: #dddddd;
  --mixin-rueYUv24R6ST_border-left-style: solid;
  --mixin-rueYUv24R6ST_border-left-width: 1px;
  --mixin-rueYUv24R6ST_border-right-color: #dddddd;
  --mixin-rueYUv24R6ST_border-right-style: solid;
  --mixin-rueYUv24R6ST_border-right-width: 1px;
  --mixin-rueYUv24R6ST_border-top-color: #dddddd;
  --mixin-rueYUv24R6ST_border-top-style: solid;
  --mixin-rueYUv24R6ST_border-top-width: 1px;
  --mixin-rueYUv24R6ST_border-bottom-left-radius: 3px;
  --mixin-rueYUv24R6ST_border-bottom-right-radius: 3px;
  --mixin-rueYUv24R6ST_border-top-left-radius: 3px;
  --mixin-rueYUv24R6ST_border-top-right-radius: 3px;
  --mixin-rueYUv24R6ST_font-family: "Inconsolata";
  --mixin-rueYUv24R6ST_padding-bottom: 1px;
  --mixin-rueYUv24R6ST_padding-left: 4px;
  --mixin-rueYUv24R6ST_padding-right: 4px;
  --mixin-rueYUv24R6ST_padding-top: 1px;
  --mixin-rueYUv24R6ST_white-space: pre-wrap;
  --mixin-HUgHrxff028Z_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-HUgHrxff028Z_border-bottom-color: #dddddd;
  --mixin-HUgHrxff028Z_border-bottom-style: solid;
  --mixin-HUgHrxff028Z_border-bottom-width: 1px;
  --mixin-HUgHrxff028Z_border-left-color: #dddddd;
  --mixin-HUgHrxff028Z_border-left-style: solid;
  --mixin-HUgHrxff028Z_border-left-width: 1px;
  --mixin-HUgHrxff028Z_border-right-color: #dddddd;
  --mixin-HUgHrxff028Z_border-right-style: solid;
  --mixin-HUgHrxff028Z_border-right-width: 1px;
  --mixin-HUgHrxff028Z_border-top-color: #dddddd;
  --mixin-HUgHrxff028Z_border-top-style: solid;
  --mixin-HUgHrxff028Z_border-top-width: 1px;
  --mixin-HUgHrxff028Z_border-bottom-left-radius: 3px;
  --mixin-HUgHrxff028Z_border-bottom-right-radius: 3px;
  --mixin-HUgHrxff028Z_border-top-left-radius: 3px;
  --mixin-HUgHrxff028Z_border-top-right-radius: 3px;
  --mixin-HUgHrxff028Z_font-family: "Inconsolata";
  --mixin-HUgHrxff028Z_padding-bottom: 3px;
  --mixin-HUgHrxff028Z_padding-left: 6px;
  --mixin-HUgHrxff028Z_padding-right: 6px;
  --mixin-HUgHrxff028Z_padding-top: 3px;
  --mixin-HUgHrxff028Z_white-space: pre-wrap;
  --mixin-CT_xS6F_Kk4W_display: flex;
  --mixin-CT_xS6F_Kk4W_flex-direction: column;
  --mixin-CT_xS6F_Kk4W_align-items: stretch;
  --mixin-CT_xS6F_Kk4W_justify-content: flex-start;
  --mixin-CT_xS6F_Kk4W_list-style-position: outside;
  --mixin-CT_xS6F_Kk4W_padding-left: 40px;
  --mixin-CT_xS6F_Kk4W_position: relative;
  --mixin-CT_xS6F_Kk4W_list-style-type: decimal;
  --mixin-CT_xS6F_Kk4W_white-space: pre-wrap;
  --mixin-YoriY3TdS7Le_display: flex;
  --mixin-YoriY3TdS7Le_flex-direction: column;
  --mixin-YoriY3TdS7Le_align-items: stretch;
  --mixin-YoriY3TdS7Le_justify-content: flex-start;
  --mixin-YoriY3TdS7Le_list-style-position: outside;
  --mixin-YoriY3TdS7Le_padding-left: 40px;
  --mixin-YoriY3TdS7Le_position: relative;
  --mixin-YoriY3TdS7Le_list-style-type: disc;
  --mixin-YoriY3TdS7Le_white-space: pre-wrap;
  --mixin-H8201b4NXAhM_color: #3291ff;
  --mixin-H8201b4NXAhM_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-XEsfzrjJYmQt_font-family);
  font-size: var(--mixin-XEsfzrjJYmQt_font-size);
  font-weight: var(--mixin-XEsfzrjJYmQt_font-weight);
  font-style: var(--mixin-XEsfzrjJYmQt_font-style);
  color: var(--mixin-XEsfzrjJYmQt_color);
  text-align: var(--mixin-XEsfzrjJYmQt_text-align);
  text-transform: var(--mixin-XEsfzrjJYmQt_text-transform);
  line-height: var(--mixin-XEsfzrjJYmQt_line-height);
  letter-spacing: var(--mixin-XEsfzrjJYmQt_letter-spacing);
  white-space: var(--mixin-XEsfzrjJYmQt_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-K0VvB6uWn_Oc_color);
  font-size: var(--mixin-K0VvB6uWn_Oc_font-size);
  font-weight: var(--mixin-K0VvB6uWn_Oc_font-weight);
  letter-spacing: var(--mixin-K0VvB6uWn_Oc_letter-spacing);
  line-height: var(--mixin-K0VvB6uWn_Oc_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-QXWe__-hOwdU_color);
  font-size: var(--mixin-QXWe__-hOwdU_font-size);
  font-weight: var(--mixin-QXWe__-hOwdU_font-weight);
  letter-spacing: var(--mixin-QXWe__-hOwdU_letter-spacing);
  line-height: var(--mixin-QXWe__-hOwdU_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-e7e9yy1DUzXo_color);
  font-size: var(--mixin-e7e9yy1DUzXo_font-size);
  font-weight: var(--mixin-e7e9yy1DUzXo_font-weight);
  line-height: var(--mixin-e7e9yy1DUzXo_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-N1_VXxCQqVUs_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-c5-p22cG5P-h_color);
  padding-left: var(--mixin-c5-p22cG5P-h_padding-left);
  border-left: var(--mixin-c5-p22cG5P-h_border-left-width)
    var(--mixin-c5-p22cG5P-h_border-left-style)
    var(--mixin-c5-p22cG5P-h_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-37O4n34z_3QO_color);
  font-size: var(--mixin-37O4n34z_3QO_font-size);
  font-weight: var(--mixin-37O4n34z_3QO_font-weight);
  letter-spacing: var(--mixin-37O4n34z_3QO_letter-spacing);
  line-height: var(--mixin-37O4n34z_3QO_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-8FUlQhYuXkXO_color);
  font-size: var(--mixin-8FUlQhYuXkXO_font-size);
  font-weight: var(--mixin-8FUlQhYuXkXO_font-weight);
  line-height: var(--mixin-8FUlQhYuXkXO_line-height);
  letter-spacing: var(--mixin-8FUlQhYuXkXO_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-vV6wAafnfRE3_color);
  font-size: var(--mixin-vV6wAafnfRE3_font-size);
  font-weight: var(--mixin-vV6wAafnfRE3_font-weight);
  line-height: var(--mixin-vV6wAafnfRE3_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-rueYUv24R6ST_font-family);
  border-radius: var(--mixin-rueYUv24R6ST_border-top-left-radius)
    var(--mixin-rueYUv24R6ST_border-top-right-radius)
    var(--mixin-rueYUv24R6ST_border-bottom-right-radius)
    var(--mixin-rueYUv24R6ST_border-bottom-left-radius);
  padding: var(--mixin-rueYUv24R6ST_padding-top)
    var(--mixin-rueYUv24R6ST_padding-right)
    var(--mixin-rueYUv24R6ST_padding-bottom)
    var(--mixin-rueYUv24R6ST_padding-left);
  border-top: var(--mixin-rueYUv24R6ST_border-top-width)
    var(--mixin-rueYUv24R6ST_border-top-style)
    var(--mixin-rueYUv24R6ST_border-top-color);
  border-right: var(--mixin-rueYUv24R6ST_border-right-width)
    var(--mixin-rueYUv24R6ST_border-right-style)
    var(--mixin-rueYUv24R6ST_border-right-color);
  border-bottom: var(--mixin-rueYUv24R6ST_border-bottom-width)
    var(--mixin-rueYUv24R6ST_border-bottom-style)
    var(--mixin-rueYUv24R6ST_border-bottom-color);
  border-left: var(--mixin-rueYUv24R6ST_border-left-width)
    var(--mixin-rueYUv24R6ST_border-left-style)
    var(--mixin-rueYUv24R6ST_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-HUgHrxff028Z_font-family);
  border-radius: var(--mixin-HUgHrxff028Z_border-top-left-radius)
    var(--mixin-HUgHrxff028Z_border-top-right-radius)
    var(--mixin-HUgHrxff028Z_border-bottom-right-radius)
    var(--mixin-HUgHrxff028Z_border-bottom-left-radius);
  padding: var(--mixin-HUgHrxff028Z_padding-top)
    var(--mixin-HUgHrxff028Z_padding-right)
    var(--mixin-HUgHrxff028Z_padding-bottom)
    var(--mixin-HUgHrxff028Z_padding-left);
  border-top: var(--mixin-HUgHrxff028Z_border-top-width)
    var(--mixin-HUgHrxff028Z_border-top-style)
    var(--mixin-HUgHrxff028Z_border-top-color);
  border-right: var(--mixin-HUgHrxff028Z_border-right-width)
    var(--mixin-HUgHrxff028Z_border-right-style)
    var(--mixin-HUgHrxff028Z_border-right-color);
  border-bottom: var(--mixin-HUgHrxff028Z_border-bottom-width)
    var(--mixin-HUgHrxff028Z_border-bottom-style)
    var(--mixin-HUgHrxff028Z_border-bottom-color);
  border-left: var(--mixin-HUgHrxff028Z_border-left-width)
    var(--mixin-HUgHrxff028Z_border-left-style)
    var(--mixin-HUgHrxff028Z_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-CT_xS6F_Kk4W_display);
  flex-direction: var(--mixin-CT_xS6F_Kk4W_flex-direction);
  align-items: var(--mixin-CT_xS6F_Kk4W_align-items);
  justify-content: var(--mixin-CT_xS6F_Kk4W_justify-content);
  list-style-position: var(--mixin-CT_xS6F_Kk4W_list-style-position);
  padding-left: var(--mixin-CT_xS6F_Kk4W_padding-left);
  position: var(--mixin-CT_xS6F_Kk4W_position);
  list-style-type: var(--mixin-CT_xS6F_Kk4W_list-style-type);
  flex-column-gap: var(--mixin-CT_xS6F_Kk4W_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YoriY3TdS7Le_display);
  flex-direction: var(--mixin-YoriY3TdS7Le_flex-direction);
  align-items: var(--mixin-YoriY3TdS7Le_align-items);
  justify-content: var(--mixin-YoriY3TdS7Le_justify-content);
  list-style-position: var(--mixin-YoriY3TdS7Le_list-style-position);
  padding-left: var(--mixin-YoriY3TdS7Le_padding-left);
  position: var(--mixin-YoriY3TdS7Le_position);
  list-style-type: var(--mixin-YoriY3TdS7Le_list-style-type);
  flex-column-gap: var(--mixin-YoriY3TdS7Le_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-H8201b4NXAhM_color);
}
